<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                
                    <h2>ExamPrep</h2>
                    <p>Let's Prepared For Your Exam</p>
                    <img src="../../../assets/exam-vector-img.png" alt="">
                
            </div>
            <div class="col-md-6">
                <h2 >Sign Up</h2>
                <form (onSubmit)="formSubmit()">
                    
                        <mat-form-field class="full-width" appearance="outline" >
                          <mat-label>User Name</mat-label>
                          <input 
                          required
                          [(ngModel)]="user.username"
                          name="User Name"
                          matInput 
                          placeholder="Enter your username"/>
                        </mat-form-field>

                        <mat-form-field class="full-width" appearance="outline" >
                            <mat-label>Password</mat-label>
                            <input required
                            [(ngModel)]="user.password"
                            name="Password"
                            type="password" matInput placeholder="Enter your Password">
                        </mat-form-field>

                        <mat-form-field class="full-width" appearance="outline" >
                            <mat-label>First Name</mat-label>
                            <input required
                            [(ngModel)]="user.firstname"
                            name="First Name"
                            matInput placeholder="Enter your First Name">
                        </mat-form-field>

                        <mat-form-field class="full-width" appearance="outline" >
                            <mat-label>Last Name</mat-label>
                            <input required
                            [(ngModel)]="user.lastname" 
                            name="Last Name"
                            matInput placeholder="Enter your Last Name">
                        </mat-form-field>

                        <mat-form-field class="full-width" appearance="outline" >
                            <mat-label>Email</mat-label>
                            <input required
                            [(ngModel)]="user.email"
                            name="Email"
                            type="email" matInput placeholder="Enter your Last Name">
                        </mat-form-field>
                    
                        <mat-form-field class="full-width" appearance="outline" >
                            <mat-label>Phone no.</mat-label>
                            <input required
                            [(ngModel)]="user.phone"
                            name="Phone no"
                            matInput placeholder="Enter your Phone no.">
                        </mat-form-field>

                        <div class="container">
                            <button type="submit">Submit</button>
                            <p>Already Have Account !! <a href="">Log In</a></p>
                        </div>
                        
                </form>
                
            </div>
           
        </div>
    </div>
</div>